In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#fruits from the following list:
# ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
#Use Series attributes and methods to explore your fruits Series.

In [4]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
type(fruits)

pandas.core.series.Series

In [52]:
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [12]:
# 1Determine the number of elements in fruits.
fruits.size

17

In [50]:
#2 Output only the index from fruits.
fruits.index.tolist()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [47]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [53]:
#3Output only the values from fruits.

fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [21]:
#4Confirm the data type of the values in fruits.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [23]:
#5Output only the first five values from fruits.  

fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [24]:
#Output the last three values.
fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [30]:
#Output two random values from fruits.
fruits[0:2]

0     kiwi
1    mango
dtype: object

In [31]:
#6Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [32]:
#7Run the code necessary to produce only the unique string values from fruits.

fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [73]:
#8Determine how many times each unique string value occurs in fruits.


fruit_count = fruits.value_counts()
fruit_count

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [71]:
#9Determine the string value that occurs most frequently in fruits.
fruits.value_counts().idxmax()

'kiwi'

In [74]:
fruit_count.nlargest(n=1, keep='all')

kiwi    4
dtype: int64

In [75]:
#10Determine the string value that occurs least frequently in fruits.
fruit_count.nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [ ]:
Exercises Part II
Explore more attributes and methods while you continue to work with the fruits Series.

In [77]:
#1Capitalize all the string values in fruits.
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [78]:
#2Count the letter "a" in all the string values (use string vectorization).

fruits_vector = fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [79]:
#3Output the number of vowels in each and every string value.

vowels = "AEIOUaeiou"
fruits.str.count(vowels)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
dtype: int64

In [81]:
#4Write the code to get the longest string value from fruits.
fruits.

17

In [ ]:
#5Write the code to get the string values with 5 or more letters in the name.

In [ ]:
#6Find the fruit(s) containing the letter "o" two or more times.

In [ ]:
#7Write the code to get only the string values containing the substring "berry".

In [ ]:
#8Write the code to get only the string values containing the substring "apple".

In [ ]:
#9Which string value contains the most vowels?